body{
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-position: bottom;
}

.card{
  width: 12rem;
  height: 22rem;
  font-size: 0.8rem;
  margin-top: 25px;
  font-family: 'NTR', sans-serif;
}

#root{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly
}

.selector{
  width: 152px;
  height: 30px;
  background: -webkit-linear-gradient(90deg, #266378 10%, #52B888  90%);
  color:rgb(255, 255, 255);
  border: 1.5px solid rgb(19, 99, 23);
  border-radius: 40px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: all 1s ease;
  margin: 2%;
}

.filterselector {
  width: 152px;
  height: 30px;
  background: -webkit-linear-gradient(90deg,#266378 10%, #588FB7  90%);
  color:rgb(255, 255, 255);
  border: 1.5px solid rgb(62, 75, 134);
  border-radius: 40px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: all 1s ease;
  margin-left: 20px;
}

.buttonsection{
  margin-top: 40px;
}

#searchbutton{
  width: 90px;
  height: 40px;
  background: -webkit-linear-gradient(90deg,#266378 10%, #588FB7  90%);
  color:rgb(255, 255, 255);
  border: 1.5px solid rgb(62, 75, 134);
  border-radius: 40px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: all 1s ease;
}

#searchpokemon{
width: 270px;
height: 40px;
border-radius: 20px;
}

#titlepokedex{
  text-align: left;
  font-size: 2.5rem;
  color: rgb(95, 95, 95);
  margin-left: 25px;
  margin-top: 40px;
  font-family: 'Palanquin Dark', sans-serif;
}

label{
  margin-left: 50px;
  font-size: 10px;
  color: rgb(56, 56, 56);
}

#logopokemon{
  width: 90px; 
}

.footer{
  color: rgb(80, 80, 80);
  font-size: 13px;
  text-align: center;
  margin-top: 40px;
  padding: 2%; 
}

.nav-link{
  color: grey;
}

.navbar{
  height: 75px;
}

@media only screen and (max-width: 800px) {
  .buttonsection{
  display: flex;
  flex-flow: row wrap
  }
  .btn, .filterselector{
  width: 80px;
  height: 20px;
  font-size: 12px;
  text-align: center
  }
} 
