body{
  font-family: 'Rubik', sans-serif;
}

header{
  text-align: center;
  font-size: 6rem;
}

.card{
  width: 12rem;
  height: 22rem;
  font-size: 0.8rem;
}

#root{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly
}